<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- for Loading JPA context file -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/jpaContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- registering dispatcher servlet and its mapping -->
	<servlet>
		<servlet-name>mumscrumServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/servlet-config.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>mumscrumServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mumscrumServlet</servlet-name>
		<url-pattern>/pdfs/**</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mumscrumServlet</servlet-name>
		<url-pattern>/images/**</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mumscrumServlet</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>
	<display-name>Archetype Created Web Application</display-name>
</web-app>